POSTGRES_DB=overwatch_tracker
POSTGRES_USER=overwatch
POSTGRES_PASSWORD=change-me
OVERFAST_BASE_URL=https://overfast-api.tekrop.fr
OVERFAST_CACHE_MINUTES=10
OVERFAST_CONNECT_TIMEOUT=5s
OVERFAST_READ_TIMEOUT=25s
